.campaign-level-1 {
  background-position: top -560px left -900px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}
.campaign-level-2 {
  background-position: top -450px left -920px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}
.campaign-level-3 {
  background-position: top -350px left -600px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}
.campaign-level-4 {
  background-position: top -550px left -600px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}
.campaign-level-5 {
  background-position: top -670px left -950px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-6 {
  background-position: top -690px left -1060px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-7 {
  background-position: top -790px left -980px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-8 {
  background-position: top -790px left -780px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-9 {
  background-position: top -860px left -1300px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-10 {
  background-position: top -840px left -1100px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-11 {
  background-position: top -340px left -430px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}
.campaign-level-12 {
  background-position: top -250px left -300px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-13 {
  background-position: top -340px left -430px;
  & #marker {
    top: 145px;
    left: 425px;
  }
}

.campaign-level-14 {
  background-position: top -380px left -220px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-15 {
  background-position: top -400px left -50px;
  & #marker {
    top: 180px;
    left: 325px;
  }
}

.campaign-level-16 {
  background-position: top -970px left -900px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-17 {
  background-position: top -1040px left -1020px;
  & #marker {
    top: 220px;
    left: 400px;
  }
}

.campaign-level-18 {
  background-position: top -900px left -780px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-19 {
  background-position: top -1040px left -650px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-20 {
  background-position: top -990px left -450px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-21 {
  background-position: top -790px left -580px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-22 {
  background-position: top -760px left -470px;
  & #marker {
    top: 200px;
    left: 400px;
  }
}

.campaign-level-23 {
  background-position: top -790px left -580px;
  & #marker {
    top: 120px;
    left: 230px;
  }
}

.campaign-level-24 {
  background-position: top -790px left -580px;
  & #marker {
    top: 140px;
    left: 400px;
  }
}

.campaign-level-25 {
  background-position: top -790px left -580px;
  & #marker {
    top: 60px;
    left: 440px;
  }
}

.campaign-level-26 {
  background-position: top -590px left -380px;
  & #marker {
    top: 320px;
    left: 330px;
  }
}

.campaign-level-27 {
  background-position: top -590px left -380px;
  & #marker {
    top: 260px;
    left: 160px;
  }
}

.campaign-level-28 {
  background-position: top -590px left -380px;
  & #marker {
    top: 250px;
    left: 330px;
  }
}

.campaign-level-29 {
  background-position: top -590px left -380px;
  & #marker {
    top: 160px;
    left: 340px;
  }
}

.campaign-level-30 {
  background-position: top -590px left -380px;
  & #marker {
    top: 165px;
    left: 240px;
  }
}
