@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400,700');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import './burger-menu.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgba: rgb(27, 17, 17);
}

body {
  @apply text-ivory;
  @apply font-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), url('/images/background_texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #252222;
  min-height: 100vh;
}
header {
  @apply text-ivory;
  color: text-ivory;
}

footer {
  @apply text-ivory;
  color: text-ivory;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75)), url('/images/spiked_wood.jpg');
  background-repeat: repeat;
  background-size: contain;
}

h1 {
  @apply font-sans;
  @apply text-4xl;
  @apply text-red;
  color: text-red;
  margin: 1.2rem 0rem;
}

h2 {
  @apply font-sans;
  @apply text-2xl;
  opacity: 0.9;
  margin: 1rem 0rem;
  margin-bottom: 3rem;
}

h3 {
  @apply text-xl;
  @apply text-red;
  font-weight: 700;
  margin: 1rem 0rem;
}
h4 {
  @apply text-lg;
  opacity: 0.9;
  font-weight: 700;
  margin: 1rem 0rem;
}

#logo {
  filter: sepia(100%);
}

p {
  margin-bottom: 30px;
}

hr {
  @apply text-off-black;
  color: text-off-black;
}

ol {
  list-style-type: decimal-leading-zero;
  margin: 1rem 0px;
}
ol li {
  margin-bottom: 1rem;
}

p,
li,
span,
div {
  @apply font-serif;
}

.germania {
  font-family: 'Germania One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.gelasio {
  font-family: 'Gelasio', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.page-content {
  background-image: url('/images/parchment_expanded.webp');
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top;
  min-height: 700px;
  max-width: 1200px;
}
#desktop-nav a:last-child {
  margin-right: 1em;
}
#desktop-nav a:hover {
  color: ivory;
}
input,
textarea {
  padding: 3px 6px;
  margin: 6px 0px;
  width: 100%;
}

.btn {
  @apply font-bold py-2 px-4;
}
.btn-red {
  @apply bg-red text-ivory;
}
.btn-red:hover {
  @apply bg-red text-light-ivory;
}

a {
  @apply text-red;
  font-weight: bold;
  text-decoration: underline;
}

#siteTitle a,
nav a {
  @apply text-ivory;
  color: text-ivory;
  text-decoration: none;
  font-weight: 400;
}

blockquote {
  letter-spacing: 1px;
}

@media (max-width: 1200px) {
  main {
    padding: 2rem !important;
  }
}

@media (max-width: 800px) {
  main {
    padding: 0rem !important;
  }
  .page-content {
    background-size: auto 100%;
    min-height: 700px;
    margin-top: 3em;
  }
}

/* Reset Styles */

table {
  border-spacing: 0px;
  border-collapse: separate;
}
td {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  padding: 10px 16px;
  border: solid 1px #1b1111;
}
