@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400&family=Germania+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgba: rgb(27, 17, 17);
}

body {
  @apply text-ivory;
  @apply font-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95)), url('../public/images/background_texture.jpg');
  color: #252222;
}
header {
  @apply text-ivory;
  color: text-ivory;
}

h1 {
  @apply font-serif;
  @apply text-4xl;
}
h2 {
  @apply font-serif;
  @apply text-xl;
}

h3 {
  @apply font-serif;
}

#logo {
  filter: sepia(100%);
}
p,
li,
span,
div {
  @apply font-serif;
}

.germania {
  font-family: 'Germania One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.gelasio {
  font-family: 'Gelasio', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
