@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400&family=Germania+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgba: rgb(27, 17, 17);
}

body {
  @apply text-ivory;
  @apply font-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.95)), url('/images/background_texture.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #252222;
  min-height: 100vh;
}
header {
  @apply text-ivory;
  color: text-ivory;
}

footer {
  @apply text-ivory;
  color: text-ivory;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.75)), url('/images/spiked_wood.jpg');
  background-repeat: repeat;
  background-size: contain;
}

h1 {
  @apply font-serif;
  @apply text-4xl;
}
h2 {
  @apply font-serif;
  @apply text-xl;
}

h3 {
  @apply font-serif;
}

#logo {
  filter: sepia(100%);
}
p,
li,
span,
div {
  @apply font-serif;
}

.germania {
  font-family: 'Germania One', system-ui;
  font-weight: 400;
  font-style: normal;
}

.gelasio {
  font-family: 'Gelasio', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.page-content {
  background-image: url('/images/parchment.webp');
  background-repeat: no-repeat;
  background-size: stretch 100%;
  background-position: center;
  min-height: 700px;
}
